.dashboard-card--thanks {
  background: #fff;
  border-radius: 24px;
  padding: 28px 18px 18px 18px;
  box-shadow: 0 2px 24px 0 rgba(40,50,65,0.12);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 270px;
  min-height: 220px;
  position: relative;
}
.dashboard-card__thanks-check {
  align-self: center;
  margin-bottom: 4px;
}
.dashboard-card__thanks-check .material-icons {
  color: #39be73;
  font-size: 38px;
}
.dashboard-card__thanks-title {
  font-size: 1.19rem;
  font-weight: 700;
  margin-bottom: 1px;
  text-align: center;
  width: 100%;
}
.dashboard-card__thanks-desc {
  color: #6fc26b;
  text-align: center;
  font-size: 1.05rem;
  margin-bottom: 15px;
  width: 100%;
}
.dashboard-card__thanks-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 22px;
  margin-bottom: 4px;
}
.dashboard-card__thanks-info div {
  font-size: 0.81em;
  color: #b1b7c0;
}
.dashboard-card__thanks-info strong {
  color: #233;
  font-weight: 700;
  display: block;
  font-size: 1.03em;
}
.dashboard-card__thanks-meta {
  width: 100%;
  margin-bottom: 12px;
}
.dashboard-card__thanks-meta > div {
  color: #b1b7c0;
  font-size: 0.81em;
}
.dashboard-card__thanks-meta strong {
  color: #1c223b;
  font-size: 1em;
  font-weight: 700;
  display: block;
}
.dashboard-card__thanks-card {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f3f7fe;
  border-radius: 12px;
  padding: 9px 14px 9px 10px;
  margin-top: 6px;
  width: 100%;
  font-weight: 600;
  color: #2a2940;
  font-size: .97em;
}
.dashboard-card__thanks-card img {
  width: 34px;
  height: 22px;
  object-fit: contain;
  border-radius: 4px;
  background: #eaeaea;
}
