.dashboard-card--input {
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 2px 24px 0 rgba(40,50,65,0.12);
  padding: 16px 18px 23px 18px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
}
.dashboard-card__input-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.dashboard-card__input-label {
  font-size: 1.07rem;
  font-weight: 600;
}
.dashboard-card__input-icons {
  display: flex;
  gap: 10px;
}
.dashboard-card__input-icons .material-icons {
  font-size: 21px;
  color: #b2b7c2;
  cursor: pointer;
}
.dashboard-card__input-box {
  border: 1px solid #f4f4fc;
  background: #f8faff;
  border-radius: 13px;
  padding: 9px 15px;
  font-size: 1.1rem;
  color: #727e95;
  width: 100%;
}
